.credenciais{

    text-align: center;
}

#uaimg{
    width: 400px;
    
}




#divuaimg{
    margin: auto;
    width: 50%;
    text-align: center;
   
}

button{
    padding: 5px;
}

.butoes{
    
    margin-top: 20px;
    text-align: center;
}